<div class="movie-detail-container">
  <div class="movie-meta">
    <span class="film-title"></span>
  </div>
  <aside class="poster-preview">
    <img src="{{ data.image }}" alt="">
  </aside>
</div>
