<div class="movie-container">
  <div class="movie-list">
    {{#each data}}
    <a class="movie-list-item" href="/details/{{meta.id}}">
      <img src="{{ image }}" class="movie-poster" alt="{{ meta.title }}">
      <section class="major-details">
        <h1 class="movie-title">{{ meta.title }}</h1>
      </section>
    </a>
    {{/each }}
  </div>
</div>
