<nav>
  <ul class="menu-list">
    <a href="/">
      <li class="menu-item">Home</li>
    </a>
    <a href="/discover">
      <li class="menu-item">Discover</li>
    </a>
    <a href="/profile">
      <li class="menu-item">Your Profile</li>
    </a>
  </ul>
</nav>
